<table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 7%">글번호</th>
                <th scope="col">제목</th>
                <th style="width: 7%">작성자</th>
                <th style="width: 8%">날짜</th>
            </tr>
        </thead>
        <tbody id="wrap__post">
            <tr th:each="post: ${posts.content}">
                <td class="text-center" scope="row" th:attr="data-id=${post.authorName} == null ? 'del' :${post.id}" th:text="${post.id}"></td>
                <td class="text-overflow" style="max-width: 300px;">
                  <div th:if="${post.depth} > 0" th:each="page : ${#numbers.sequence(1, post.depth)}"  th:text="${post.depth} == ${page} ? 'ㄴ' : '&nbsp;&nbsp;&nbsp;&nbsp;'" style="float:left;"></div>
                 <div style="display:flex;">
                 <div th:text="${post.title}">
                 </div>
                  <span th:if="${post.createdDate} == ${nowTime}" class="badge new-badge"><span class="new-badge-text">N</span></span>
                  </div>
                </td>
                <td class="text-overflow" style="max-width: 100px;" th:text="${post.authorName} == null ? '탈퇴한유저' :${post.authorName}"></td>
                <td class="text-center" th:text="${post.createdDate}"></td>
                
            </tr> 
        </tbody>
    </table>
<div align="right" class="col-md-12 left">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">글 등록</button>
    </div>
<div class="center-block" style="width: 350px;padding:15px;">
 <nav aria-label="Page navigation">
  <ul class="pagination"> <!-- th:if="${!posts.first}" -->
    <li  th:attr="data-haspage=${!posts.first} ? 'page' : 'none'" class="page-item"><a class="page-link" href="javascript:;">Previous</a></li>
      <th:block th:each="page : ${#numbers.sequence(page.startPage, page.endPage)}">
	   <li th:if="${page} != ${posts.totalPages}" th:classappend="${posts.number } == ${page} ? active" class="page-item"><a th:text="${page + 1}" class="page-link" href="javascript:;"></a></li>
	  </th:block>
    <li th:attr="data-haspage=${!posts.last} ? 'page' : 'none'" class="page-item"><a class="page-link" href="javascript:;">Next</a></li>
  </ul>
</nav>
</div>