<table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 7%">글번호</th>
                <th scope="col">제목</th>
                <th style="width: 7%">작성자</th>
                <th style="width: 8%">날짜</th>
            </tr>
        </thead>
        <tbody id="wrap__post">
            <tr th:each="post: ${posts.content}">
                <td class="text-center" scope="row" th:attr="data-id=${post.authorName} == null ? 'del' :${post.id}" th:text="${post.id}"></td>
                <td class="text-overflow" style="max-width: 300px;">
                  <div th:if="${post.depth} > 0" th:each="page : ${#numbers.sequence(1, post.depth)}"  style="float:left;">ㄴ </div>
                 <div th:text="${post.title}"></div>
                </td>
                <td class="text-overflow" style="max-width: 100px;" th:text="${post.authorName} == null ? '탈퇴한유저' :${post.authorName}"></td>
                <td class="text-center" th:text="${post.createdDate}"></td>
                
            </tr> 
        </tbody>
    </table>
<div align="right" class="col-md-12 left">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">글 등록</button>
    </div>
<div class="center-block" style="width: 300px;padding:15px;">
 <nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="javascript:;">Previous</a></li>
      <th:block th:each="page : ${#numbers.sequence(page.startPage, page.endPage)}">
	   <li th:if="${posts.totalPages >= page}" th:classappend="${posts.number + 1} == ${page} ? active" class="page-item"><a th:text=${page} class="page-link" href="javascript:;"></a></li>
	  </th:block>
    <li class="page-item"><a class="page-link" href="javascript:;">Next</a></li>
  </ul>
</nav>
</div>