<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{cmmn/layout}">

<section layout:fragment="content">
	<div class="container wrap__content">
		<div class="row text-center">
			<div>
				<div class="thumbnail">
					<div class="wrap__board">
						<div class="text-left">
							<h3>
								<span th:text="${path}"></span> 타이틀
							</h3>
							<div>
								<div>
									<span>작성자</span> 님이 <span>작성일</span> 작성한 글입니다.
								</div>
								<hr>
								<div>게시글 본문</div>
							</div>

						</div>

					</div>
				</div>
				<div class="text-right">
					<button type="button" class="btn btn-info"  id="btn-change-modal">원글보기</button>
					<button type="button" class="btn btn-primary"  id="btn-change-modal">답글달기</button>
					<button type="button" class="btn btn-danger"  id="btn-change-modal">삭제</button>
				</div>
			</div>
		</div>
	</div>
	<script>

	</script>
</section>